* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: url(https://img.myloview.com/posters/seamless-pattern-of-cartoon-cats-hand-drawn-cute-animal-background-700-200043121.jpg);
}

button {
  padding: 7px;
  border-radius: 7px;
  border: 2px solid black;
  margin-top: 20px;
}

.app {
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 3px solid black;
  display: flex;
  width: 1000px;
  flex-direction: column;
}

h1 {
  font-size: 60px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid black;
}

.add-post {
  margin: 0 auto;
  margin-top: 50px;
  border: 2px solid black;
  padding: 50px;
  border-radius: 6px;
}

.add-post h2 {
  font-size: 25px;
}

.cat-image {
  margin-top: 5px;
  width: 50px;
  height: 50px;
}

.add-post button {
  display: block;
}

input {
  margin-top: 20px;
  padding: 5px;
  border: 1px solid black ;
  border-radius: 3px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.post {
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #000000;
  border-radius: 5px;
  height: 180px;
  margin-top: 50px  ;
}

.post img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.post-description {
  margin-top: 10px;
  font-size: 14px;
}

.post-actions {
  margin-top: 10px;
}

.edit-button,
.delete-button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button {
  background-color: #dc3545;
}

/* Responsive styles */
@media (max-width: 768px) {
  .posts {
    grid-template-columns: 1fr;
  }
}